body{
	background:lightgray;
/* 	text-align:center; */
}
#name , #email ,#cars ,#age ,#dob ,#tel ,#password{
	display:block;
	width:50%;
/* 	text-align:right; */
}
button{
	background:lightgreen;
	border-radius:7px;
}